*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: VioletSmile;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(17, 13, 13);
}
